fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
jinja2==3.1.6
sqlalchemy==2.0.40
psycopg[binary]==3.2.6
openpyxl==3.1.5
odfpy==1.4.1
pydantic==2.11.3
pydantic-settings==2.9.1
PyJWT[crypto]==2.10.1
httpx==0.28.1
cryptography==44.0.0